* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skeleton {
    width: 1400px;
}

.content-width {
    width: 800px;
}

header {
}

.header-top {
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top  img {
    height: 100px;
}

.header-top > ul{
    list-style: none;
    display: flex;
    gap: 35px;
    margin-right: 20px;
}

.header-top > ul img {
    width: 20px;
    height: 20px;
}

.header-top > ul > li {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header-top a {
    color: black;
}

.main-header {
    background-color: rgb(189, 40, 43);
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px black, 0 2px 8px black inset;
    width: 100vw;
    margin-bottom: 60px;
    position: sticky;
    top: 0;
}

.main-header > ul {
    list-style: none;
    display: flex;
    justify-content:stretch;
    padding: 0 ;
    width: 1400px;
}

.main-header li {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.main-header li:hover{
    background-color: rgb(219, 85, 88);
}
.main-header li.active {
    background-color: rgb(45, 43, 46);
}

.main-header a {
    font-size: 16pt;
    color: aliceblue;
    font-weight: 600;
    padding: 25px 10px 25px 10px;
}

.main-header a.active {
    text-decoration: underline;
}



/* GLOBAL TEXT STYLE START */
.text {
    font-size: 14pt;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.5;
}


/* GLOBAL TEXT STYLE END */

/* BEMUTATKOZAS START */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

p.signature {
    margin-top: 20px;
}

/* BEMUTATKOZAS END */

/* KARUGYINTEZES START */

.claim-management h1{
    font-weight: 400;
    margin: 40px 0 30px 0;
}

.claim-management h2{
    font-weight:500;
    margin: 30px 0 20px 40px;
    
}

.claim-management ul{
    margin-left: 50px;
    margin-bottom: 30px;
}

p.last{
    margin-bottom: 1000px;
}

/* KARUGYINTEZES END */

/* SZOLGALTATASOK START */

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services h2{
    margin-bottom: 30px;
}

.services .flex-container {
    display: flex;
    justify-content: center;
}

.services .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 30px;
}

.services .item {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid red;
}

.services .item:hover {
    /*zoom*/
}

/* SZOLGALTATASOK END */

/* DOKUMENTUMOK START */

.documents {
    display: flex;
    justify-content: center;
}

.documents ul {
    list-style: none;
    padding: 0;
}

.documents li {
    margin-bottom: 30px;
}

.documents h2{
    margin-bottom: 15px;
}

.documents .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
    
}

.documents img {
    width: 192;
    height: 106px;
}

/* DOKUMENTUMOK END */

/* SZINKOD START */

.colour-codes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.colour-codes .usage img {
    float: right;
    width: 500px;
    margin-left: 60px;
    border-radius: 15px;
}

.colour-codes .position img{
    float: right;
    width: 400px;
    margin-left: 60px;
}

.colour-codes .image-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.colour-codes h2 {
    margin-bottom: 20px;
}

.colour-codes .usage {
    padding: 0 30px 0 30px;
}

.colour-codes .position {
    margin-top: 30px;
    padding: 0 30px 0 30px;
    margin-bottom: 70px;
}

.colour-codes .image-flex-container>img {
    margin: 15px 0 40px 0;
    width: 600px;
}

.colour-codes .position .table-flex-container {
    display: flex;
    justify-content:center;
    gap: 40px;
}

.colour-codes .position table {
    border-collapse: collapse;
    border: 1px solid black;
    
    
}

.colour-codes .position th, td{
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

/* SZINKOD END */

/* KAPCSOLAT START */

.contact {
    padding: 0 30px 0 30px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.contact iframe {
    width: 600px;
    height: 400px;
}

.contact ul{
    list-style: none;
    padding: 0;
    height: 100%;
}

.contact ul li {
    margin: 40px 0 40px 0;
}

/* KAPCSOLAT END */