/*  --------------------------------------------------  */
/*

    THIS PAGE WAS: 
        ROLLED OUT ON 2024/09/05
        FINALISED ON 2024/09/12
        MADE BY: SLYÍZS ISTVÁN GÁBOR

*/
/*  --------------------------------------------------  */

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-line {
    display: none;
}

.for-mobile {
    display: none;
}

.image-flex-container-for-mobile {
    display: none;
}

.skeleton {
    width: 90vw;
    max-width: 1400px;
}

/*----!!!----EXPERIMENTAL----!!!----*/



/*----!!!----EXPERIMENTAL----!!!----*/

.content-width {
    max-width: 800px;
}

header {}

.header-top {
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-top img {
    height: 100px;
    margin: 2.5px 0 2.5px 0;
}

.header-top>ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-right: 20px;
}

.header-top>ul img {
    width: 20px;
    height: 20px;
}

.header-top>ul>li {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header-top a {
    color: black;
}

#openBtn {
    display: none;
}

.main-header {
    background-color: rgb(189, 40, 43);
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px black, 0 2px 8px black inset;
    width: 100vw;
    margin-bottom: 70px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.main-header>ul {
    list-style: none;
    display: flex;
    justify-content: stretch;
    justify-content: center;
    padding: 0;
    width: 1400px;
}

.main-header li {
    height: 70px;
    display: flex;
    align-items: center;
}

.main-header li:hover {
    background-color: rgb(219, 85, 88);
}

.main-header li.active {
    background-color: rgb(45, 43, 46);
}

.main-header a {
    font-size: 16pt;
    color: aliceblue;
    font-weight: 500;
    padding: 25px 25.5px 25px 25.5px;
}

.main-header a.active {
    text-decoration: underline;
}

@media screen and (max-width: 1390px) {

    .mobile-line {
        display: block;
        width: 100svw;
        background-color: rgb(189, 40, 43);
        height: 6px;
        margin-bottom: 35px;
        box-shadow: 0 3px 4px black
    }

    .skeleton {
        width: 90vw;

    }

    .header-top>ul {
        display: none;
    }

    .header-top img {
        height: 50px;
    }

    .main-header {
        width: 0;
        position: absolute;
        z-index: 3;
        top: 65px;
        right: 0;
        overflow-x: hidden;
        transition: width 0.5s ease;
        /* Smooth transition for width */
        padding-top: 0px;
        background-color: rgb(189, 40, 43);
        /* Add a background color for visibility */
    }

    .main-header ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .main-header ul li {
        padding: 5px;
        box-shadow: 0 3px 4px black
            /* Optional: Add some border for visual separation */
    }

    .main-header ul li a {
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        /* Change text color */
    }

    .content-width {
        width: 90vw;
    }

    #openBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        width: 50px;
        height: 50px;
        font-size: 25pt;
        transition: transform 0.5s ease, content 0.5s ease, font-size 0.5s ease;
        color: black;
        /* Smooth transition for rotation, content, and size */
    }



}



/* GLOBAL TEXT STYLE START */
.text {
    font-size: 14pt;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 2;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* GLOBAL TEXT STYLE END */

/* --------- GOOGLE FONT --------- */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* --------- GOOGLE FONT --------- */

/* BEMUTATKOZAS START */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.introduction img {
    border-radius: 15px;
}

p.signature {
    margin-top: 30px;
}

@media screen and (max-width: 480px) {

    .introduction {
        gap: 20px;
    }

}

/* BEMUTATKOZAS END */

/* KARUGYINTEZES START */

.claim-management h1 {
    font-weight: 400;
    margin: 70px 0 0px 0;
}

.claim-management h2 {
    font-weight: 400;
    margin: 10px 0 20px 40px;
}

.claim-management ul {
    margin-left: 50px;
    margin-bottom: 30px;
}

.claim-management .line {
    background-color: rgb(189, 40, 43);
    width: 900px;
    height: 6px;
    margin: 7px 0 50px 0;
    border-radius: 9px;
}

.claim-management .flex-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}

.claim-management p.first {}

.claim-management .flex-container .claim-management-img {
    width: 600px;
    height: auto;
    border-radius: 15px;
}

.claim-management .blue-yellow {
    height: 350px;
    border-radius: 15px;

}

p.last {
    margin-bottom: 100px;
}

@media screen and (max-width: 1060px) {

    .claim-management .flex-container {
        flex-direction: column;
        gap: 15px;
    }

    .claim-management .flex-container .claim-management-img {
        width: 100%;
    }

    .claim-management h1 {
        margin-top: 30px;
    }

    .claim-management h2 {
        margin: 0px 0 10px 0;
    }

    .claim-management .line {
        width: 100%;
        margin-bottom: 30px;
    }

    .claim-management ul {
        margin: 0;
    }

    .claim-management ul.last {
        margin-bottom: 30px;
    }

    .claim-management .blue-yellow {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }


}

/* KARUGYINTEZES END */

/* SZOLGALTATASOK START */

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services h2 {
    margin-bottom: 0px;
    font-size: 30pt;
    font-weight: 400;
}

.services .line {
    background-color: rgb(189, 40, 43);
    width: 1065px;
    height: 8px;
    margin: 10px 0 60px 0;
    border-radius: 9px;
}

.services .flex-container {
    display: flex;
    justify-content: center;
}

.services .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    margin-bottom: 30px;
}

.services .item {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-size: 100%;
    /* A háttérkép eredeti mérete */
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
    /* Smooth transition */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* Kezdetben átlátszó */
    transition: background-color 0.5s ease;
    /* Smooth darkening */
    z-index: 1;
    /* Előtérbe helyezzük a sötétítő réteget */
}

/* Hover hatás a háttérkép zoomolásához */
.services .item:hover {
    background-size: 120%;
    /* Növeld meg a háttérkép méretét */
}

.item:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    /* Sötétítjük a háttérképet */
}


/* Példa: különböző háttérképek az egyes item osztályú divekhez */
.services .item:nth-child(1) {
    background-image: url('./assets/images/hokezeleses.webp');
}

.services .item:nth-child(2) {
    background-image: url('./assets/images/karosszeria-javitas.webp');
}

.services .item:nth-child(3) {
    background-image: url('./assets/images/karugyintezes.webp');
}

.services .item:nth-child(4) {
    background-image: url('./assets/images/csereauto.webp');
}

.services .item:nth-child(5) {
    background-image: url('./assets/images/szelvedo-javitas.webp');
}

.services .item:nth-child(6) {
    background-image: url('./assets/images/polirozas.webp');
}

.services .item:nth-child(7) {
    background-image: url('./assets/images/szinkeveres.webp');
}

.services .item:nth-child(8) {
    background-image: url('./assets/images/fenyszoropolirozas.webp');
}

.services .item:nth-child(9) {
    background-image: url('./assets/images/automentes.webp');
}

.item a {
    display: flex;
    /* Csak a tartalom mérete */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    /* Szöveg színe */
    font-size: 18pt;
    /* Szöveg mérete */
    opacity: 0;
    /* Kezdetben láthatatlan */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Középre igazítás */
    transition: opacity 0.5s ease;
    /* Smooth fade-in */
    pointer-events: none;
    /* Az a tag nem fogható el kattintásra, amíg nincs hover */
    z-index: 2;
}

/* Hover hatás az a tagre */
.item:hover a {
    opacity: 1;
    /* Láthatóvá válik */
    pointer-events: auto;
    /* Az a tag foghatóvá válik kattintásra */
}

@media screen and (max-width: 1060px) {

    .services .line {
        width: 100%;
    }

    .services .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
    }

    .item::before {
        background-color: rgba(0, 0, 0, 0.5);
        /* Sötétítjük a háttérképet */
    }

    .item a {
        display: flex;
        /* Csak a tartalom mérete */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        /* Szöveg színe */
        font-size: 18pt;
        /* Szöveg mérete */
        opacity: 1;
        /* Kezdetben láthatatlan */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Középre igazítás */
        transition: opacity 0.5s ease;
        /* Smooth fade-in */
        pointer-events: auto;
        z-index: 2;
    }

}

@media screen and (max-width: 480px) {

    .services h2 {
        font-size: 24pt;
    }

    .services .line {
        width: 100%;
        margin-bottom: 30px;
    }

    .services .grid-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item::before {
        background-color: rgba(0, 0, 0, 0.5);
        /* Sötétítjük a háttérképet */
    }

    .item a {
        display: flex;
        /* Csak a tartalom mérete */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        /* Szöveg színe */
        font-size: 18pt;
        /* Szöveg mérete */
        opacity: 1;
        /* Kezdetben láthatatlan */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Középre igazítás */
        transition: opacity 0.5s ease;
        /* Smooth fade-in */
        pointer-events: auto;
        z-index: 2;
    }

}

/* SZOLGALTATASOK END */

/* DOKUMENTUMOK START */

.documents {
    display: flex;
    justify-content: center;
}

.documents ul {
    list-style: none;
    padding: 0;
}

.documents li {
    margin-bottom: 60px;
}

.documents h2 {
    font-size: 23pt;
    font-weight: 400;
}

.documents .line-first {
    background-color: rgb(189, 40, 43);
    width: 245px;
    height: 6px;
    margin: 7px 0 30px 0;
    border-radius: 9px;
}

.documents .line-second {
    background-color: rgb(189, 40, 43);
    width: 540px;
    height: 6px;
    margin: 7px 0 45px 0;
    border-radius: 9px;
}

.documents .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 20px;
}

.documents img {
    width: 192px;
    height: 106px;
    object-fit: contain;
    box-shadow: 2px 2px 6px black;
    border-radius: 10px;

}

@media screen and (max-width: 480px) {

    .documents li {
        margin-bottom: 30px;
    }

    .documents .line-first {
        width: 100%;
        margin-bottom: 25px;
    }

    .documents .line-second {
        width: 100%;
        margin-bottom: 30px;
    }

    .documents .flex-container {
        row-gap: 25px;
    }

    .documents img {
        width: 158px;
        height: 88px;
        object-fit: contain;
    }
}

/* DOKUMENTUMOK END */

/* SZINKOD START */

.colour-codes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.colour-codes .usage img {
    float: right;
    width: 500px;
    margin-left: 60px;
    border-radius: 15px;
}

.colour-codes .position img {
    float: right;
    width: 400px;
    margin-left: 60px;
}

.colour-codes .image-flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.colour-codes h2 {
    margin-bottom: 0px;
    font-weight: 400;
}

.colour-codes .line-first {
    background-color: rgb(189, 40, 43);
    width: 245px;
    height: 6px;
    margin: 7px 0 20px 0;
    border-radius: 9px;
}

.colour-codes .line-second {
    background-color: rgb(189, 40, 43);
    width: 295px;
    height: 6px;
    margin: 7px 0 20px 0;
    border-radius: 9px;
}

.colour-codes .usage {
    padding: 0 30px 0 30px;
}

.colour-codes .position {
    margin-top: 30px;
    padding: 0 30px 0 30px;
    margin-bottom: 70px;
}

.colour-codes .image-flex-container>img {
    margin: 70px 0 40px 0;
    width: 600px;
}

.colour-codes .position .table-flex-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.colour-codes .position table {
    border-collapse: collapse;
    border: 1px solid black;


}

.colour-codes .position th,
td {
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

@media screen and (max-width: 480px) {

    .colour-codes {
        gap: 0;
    }

    .colour-codes .usage {
        padding: 0;
    }

    .colour-codes .position {
        padding: 0;
    }

    .colour-codes .usage img {
        width: 100%;
        margin-bottom: 15px;
    }

    .colour-codes .position img {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .colour-codes .image-flex-container>img {
        width: 100%;
        margin: 30px 0 15px 0;
    }

    .colour-codes .image-flex-container-for-mobile>img {
        margin: 30px 0 15px 0;

    }

    .colour-codes .image-flex-container-for-mobile {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .colour-codes .position .table-flex-container {
        flex-direction: column;
        gap: 0;
    }

    .colour-codes .line-second {
        width: 330px;
    }

    .colour-codes .line-first,
    .colour-codes .line-second {
        margin-bottom: 25px;
    }

    .colour-codes .for-mobile {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }


}

/* SZINKOD END */

/* AJANLATKERES START */

.quotation-request {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotation-request h2 {
    font-size: 35pt;
    font-weight: 400;
}

.quotation-request .line {
    background-color: rgb(189, 40, 43);
    width: 750px;
    height: 8px;
    margin: 10px 0 60px 0;
    border-radius: 9px;
}

.quotation-request .dual-section {
    display: flex;
    gap: 80px;
}

.quotation-request .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.quotation-request img {
    height: 423px;
    border-radius: 15px;
}

.quotation-request input {
    font-size: 13pt;
    box-shadow: 1px 1px 4px black;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quotation-request #subject {
    width: 100%;
    font-size: 13pt;
    box-shadow: 1px 1px 4px black;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid black;
}

.quotation-request #error-message {
    color: rgb(210, 0, 0);
    font-weight: 600;
    margin: 5px 0 0 0;
    display: none;
}

.quotation-request textarea {
    font-size: 13pt;
    resize: none;
    box-shadow: 1px 1px 4px black;
    padding: 4px;
    border-radius: 6px;
    border: 0px solid black;
    margin-top: 10px;
}

.quotation-request .btn {
    width: 150px;
    height: 50px;
    font-size: 15pt;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(189, 40, 43);
    color: aliceblue;
    box-shadow: 1px 1px 4px black;
    align-self: center;
    margin-top: 15px;
}

@media screen and (max-width: 1060px) {
    
    .quotation-request .dual-section {
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    .quotation-request img {
        height: 300px;
        order: -1;
    }

    .quotation-request .btn {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 480px) {

    .quotation-request h2 {
        font-size: 24pt;
    }

    .quotation-request .line {
        width: 100%;
        margin-bottom: 30px;
    }

    .quotation-request .dual-section img {
        display: none;
    }

    .quotation-request .form {
        width: 100%;
    }
}

/* AJANLATKERES END */

/* KAPCSOLAT START */

.contact {
    padding: 0 30px 0 30px;
    display: flex;
    gap: 140px;
    align-items: center;
}

.contact .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.contact h2 {
    font-size: 35pt;
    font-weight: 400;
}

.contact .line {
    background-color: rgb(189, 40, 43);
    width: 640px;
    height: 8px;
    margin: 10px 0 10px 0;
    border-radius: 9px;
}

.contact iframe {
    width: 650px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px black;
}

.contact ul {
    list-style: none;
    padding: 0;
    height: 100%;
}

.contact ul li {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact ul li a,
span {
    font-size: 15pt;
}

.contact ul li span:not(.contact-title) {
    margin-left: 15px;
}

.contact .contact-title {
    font-weight: 500;
    margin-bottom: 10px;
    background-color: rgb(189, 40, 43);
    color: white;
    width: max-content;
    padding: 5px 7px 5px 7px;
    border-radius: 13px;
    font-size: 18pt;
}

@media screen and (max-width: 1060px) {
    .contact {
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .contact .flex-container {
        margin: 0;
    }

    .contact h2 {
        font-size: 24pt;
    }

    .contact .line {
        width: 100%;
    }

    .contact span b::after {
        content: "";
        display: block;
        margin-bottom: 5px;
    }

    .contact .map {
        width: 100%;
        margin-bottom: 100px;
    }

    .contact iframe {
        width: 100%;
        height: 50vh;
    }

    .contact ul li {
        margin: 25px 0 25px 0;
    }

    .contact .contact-info {
        order: -1;
    }
}

/* KAPCSOLAT END */